<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> To-Do Application </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <input type="text" class="form-control" name="task" placeholder="Task" #taskInput>
        </div>

        <div class="col-xs-4">
            <button class="btn btn-info" (click)="addTask(taskInput.value)">Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>To-Do list</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks; let idx = index">
                        <td *ngIf="task.is_canceled; else elseTd">
                            <s>{{ idx + 1 }}. {{task.title}}</s>
                        </td>
                        <ng-template #elseTd>
                            <td>{{ idx + 1 }}. {{task.title}}</td>
                        </ng-template>

                        <td>
                            <button class="btn btn-warning btn-xs"> Cancel </button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                            <button class="btn btn-danger" (click)="clearToDo()">Clear</button>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>