<table border="1">
    <tr *ngFor="let link_obj of social_links">
        <td [attr.colspan]="2"> 
            <a *ngIf="link_obj.is_active; else elseTemplate" [href]="link_obj.link"> {{ link_obj.title }} </a> 
            
            <ng-template #elseTemplate>
                <s> This link is not active </s>
            </ng-template>
        </td>
        <td>
            {{ link_obj.link }}
        </td>
    <tr>
    <tr>
        <td>col 1</td>
        <td>col 2</td>
        <td>col 3</td>
    </tr>
</table>